<% json = JSON.parse(event[:content][:json_dump]) %>
<% snpc = ServiceNamePathCache.where(service: 'DeviantArt', username: event[:content][:username].downcase).first %>
<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p>
    <small>
        <a href="https://www.deviantart.com/<%= event[:content][:username] %>/art/<%= event[:content][:post_id] %>">
          <%= json["title"] %> - <%= event[:content][:username] %>
        </a>
      </small>
  </p>
</header>
<div class="card-body">
  <p>
    <a href="https://www.deviantart.com/<%= event[:content][:username] %>/art/<%= event[:content][:post_id] %>">
      <a data-fancybox="deviantart_<%= event[:content][:filename] %>" href="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>">
        <img src="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>" />
      </a>
    </a>
  </p>
</div>
