<a href="https://www.deviantart.com/<%= event[:content][:username] %>/art/<%= event[:content][:post_id] %>">
  <a data-fancybox="deviantart_<%= event[:content][:filename] %>" href="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>">
    <img src="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>" />
  </a>
</a>
