<% json = JSON.parse(event[:content][:json]) %>
<% snpc = ServiceNamePathCache.where(service: 'Instagram', username: event[:content][:instagram_user_id]).first %>
<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p>
    <small>
        <a href="https://instagram.com/p/<%= event[:content][:shortcode] %>">
          <%= snpc.name %>
        </a>
        <% if json['__typename'] == 'GraphSidecar' %>
          <span style="float: right">
            <a data-fancybox-trigger="instagram_<%= event[:content][:shortcode] %>"><i class="fas fa-layer-group"></i> <%= json["edge_sidecar_to_children"]["edges"].count %></a>
          </span>
        <% end %>
      </small>
  </p>
</header>
<div class="card-body">
  <p class="neutral">
    <% node = 0 %>
    <% loop do %>
      <% if json['__typename'] == 'GraphSidecar' %>
        <% object = json['edge_sidecar_to_children']['edges'][node]["node"] %>
      <% else %>
        <% object = json %>
      <% end %>

      <% if object['__typename'] == 'GraphVideo' %>
        <% media_url = object["video_url"] %>
        <% media_type = 'video' %>
      <% elsif object['__typename'] == 'GraphImage' %>
        <% media_url = object["display_url"] %>
        <% media_type = 'image' %>
      <% end %>

      <% if media_url %>
        <% media_name = media_url.split('/')[-1].split('?')[0] %>
        <% folder = "#{InstagramAccount.where(instagram_id: json['owner']['id']).first.username} %28#{json['owner']['id']}%29" %>
        <% if media_url %>
          <a data-fancybox="instagram_<%= event[:content][:shortcode] %>" href="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{folder}/#{media_name}" %>">
            <% if media_type == 'image' %>
              <img src="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{folder}/#{media_name}" %>" <% if node > 0 %>style="display: none"<% end %> />
            <% elsif media_type == 'video' %>
              <video controls preload="metadata" <% if node > 0 %>style="display: none"<% end %>>
                <source src="https://<%= "#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{folder}/#{media_name}" %>">/>
              </video>
            <% end %>
          </a>
        <% end %>
        <% if node == 0 %>
          <% begin %>
            <small><%= json["edge_media_to_caption"]["edges"][0]["node"]["text"] %></small>
          <% rescue %>
          <% end %>
        <% end %>
      <% end %>
      <% break if json['edge_sidecar_to_children'].nil? || json['edge_sidecar_to_children']['edges'][node + 1].nil? %>
      <% node += 1 %>
    <% end %>
  </p>
</div>
