<% if event[:sub_type] == 'youtube_video' %>
  <% json = JSON.parse(event[:content][:item]) %>
  <% snpc = ServiceNamePathCache.where(service: 'YouTube', username: event[:content][:channel_id]).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
        <a href="https://www.youtube.com/watch?v=<%= event[:content][:video_id] %>">
          <i class="fa-brands fa-youtube"></i> <%= snpc.name %> - <%= event[:content][:title] %>
        </a>
      </small>
    </p>
  </header>
  <div class="card-body">
    <p>
      <%= render 'application/sociallink/youtube_video', event: event, snpc: snpc, json: json %>
    </p>
  </div>
<% elsif event[:sub_type] == "deviantart_post" %>
  <% json = JSON.parse(event[:content][:json_dump]) %>
  <% snpc = ServiceNamePathCache.where(service: 'DeviantArt', username: event[:content][:username].downcase).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
          <a href="https://www.deviantart.com/<%= event[:content][:username] %>/art/<%= event[:content][:post_id] %>">
            <i class="fa-brands fa-deviantart"></i> <%= json["title"] %> - <%= event[:content][:username] %>
          </a>
        </small>
    </p>
  </header>
  <div class="card-body">
    <p>
      <%= render 'application/sociallink/deviantart_post', event: event, snpc: snpc, json: json %>
    </p>
  </div>
<% elsif event[:sub_type] == "pixiv_post" %>
  <% snpc = ServiceNamePathCache.where(service: 'Pixiv', username: event[:content][:pixiv_member_id]).first %>
  <% post_base = '' %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
      <a href="https://www.pixiv.net/en/artworks/<%= event[:content][:post_id] %>"><i class="fa-brands fa-pixiv"></i> <%= snpc.name %> - <%= event[:content][:title] %></a>
        <% if event[:content][:filenames].count > 1 %>
          <% post_base = event[:content][:post_id] + '/' %>
          <span style="float: right">
            <a data-fancybox-trigger="pixiv_<%= event[:content][:post_id] %>">
              <%= event[:content][:filenames].count %> <i class="fas fa-layer-group"></i>
            </a>
          </span>
        <% end %>
      </small>
    </p>
  </header>
  <div class="card-body">
    <p>
      <%= render 'application/sociallink/pixiv_post', event: event, snpc: snpc, post_base: post_base %>
    <p>
  </div>
<% elsif event[:sub_type] == "webcomic_strip" %>
  <% snpc = ServiceNamePathCache.where(service: 'Webcomic', username: event[:content][:comic]).first %>
  <% json = JSON.parse(event[:content][:payload]) %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p class="">
      <small><%= snpc.name %>
        <% if json && json["url"] && json["title"] %>
          - <a href="<%= json['url'] %>"><em><%= json["title"] %></em></a>
        <% elsif json && json["title"] %>
          - <em><%= json["title"] %></em>
        <% end %>
      </small>
    </p>
  </header>
  <div class="card-body">
    <p>
      <%= render 'application/sociallink/webcomic_strip', event: event, snpc: snpc, json: json %>
    </p>
  </div>
<% elsif event[:sub_type] == "facebook_post" %>
  <% snpc = ServiceNamePathCache.where(service: 'Facebook', username: event[:content].authored_by.fbid).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
          <a href="https://facebook.com/<%= event[:content][:fbid] %>">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <% if event[:content].authored_by %>
            <a href="https://facebook.com/<%= event[:content].authored_by.fbid %>"><%= event[:content].authored_by.payload[:display_name] %></a>:
          <% end %>
      </small>
    </p>
  </header>
  <div class="card-body">
    <%= render 'application/sociallink/facebook_post', event: event, snpc: snpc %>
  </div>
<% elsif event[:sub_type] == "instagram_post" %>
  <% json = JSON.parse(event[:content][:json]) %>
  <% snpc = ServiceNamePathCache.where(service: 'Instagram', username: event[:content][:instagram_user_id]).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
          <a href="https://instagram.com/p/<%= event[:content][:shortcode] %>">
            <i class="fa-brands fa-instagram"></i> <%= snpc.name %>
          </a>
          <% if json['__typename'] == 'GraphSidecar' %>
            <span style="float: right">
              <a data-fancybox-trigger="instagram_<%= event[:content][:shortcode] %>"><i class="fas fa-layer-group"></i> <%= json["edge_sidecar_to_children"]["edges"].count %></a>
            </span>
          <% end %>
        </small>
    </p>
  </header>
  <div class="card-body">
    <p class="neutral">
      <%= render 'application/sociallink/instagram_post', event: event, json: json, snpc: snpc %>
    </p>
  </div>
<% elsif event[:sub_type] == "tumblr_post" %>
  <% snpc = ServiceNamePathCache.where(service: 'Tumblr', username: event[:content][:username]).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
        <a href=""><i class="fa-brands fa-tumblr"></i> <%= snpc.name %> - <%= event[:content][:title] %></a>
      </small>
    </p>
  </header>
  <div class="card-body">
    <%= render 'application/sociallink/tumblr_post', post: event, snpc: snpc %>
  </div>
<% elsif event[:sub_type] == "twitter_tweet" %>
  <% ta = TwitterAccount.where(user_id: event[:content][:user_id]).first %>
  <% snpc = ServiceNamePathCache.where(service: 'Twitter', username: ta.username).first %>
  <header style="color: <%= colors2(@event_groups[event[:type]]) %>">
    <p>
      <small>
          <a href="https://twitter.com/i/status/<%= event[:content][:tweet_id] %>">
          <i class="fa-brands fa-twitter"></i>
          <%= ta.username %> <% if event[:content][:is_retweet] %>RT <% if event[:content][:retweet_data] %><%= event[:content][:retweet_data][:username] %><% else %>Unknown<% end %><% end %>
        </a>
      </small>
    </p>
  </header>
  <div class="card-body">
    <p>
      <%= render 'application/sociallink/twitter_tweet', event: event, ta: ta, snpc: snpc %>
    </p>
  </div>
<% end %>
