<% if post[:content][:event_type] == "m.room.encrypted" %>
  <% if post[:content][:plaintext] %>
    <% json = JSON.parse(post[:content][:plaintext]) %>
  <% end %>
<% else %>
  <% json = JSON.parse(post[:content][:content]) %>
<% end %>


<% if json && json["msgtype"] == 'm.text' %>
  <header style="color: <%= color %>">
    <p class="<% if post[:content][:sender] == Hindsight::Application.credentials.mxid %>sent<% else %>received<% end %>">
      <small class="sender"><%= post[:content][:sender] %>: </small>
    </p>
  </header>
  <div class="card-body <% if post[:content][:sender] == Hindsight::Application.credentials.mxid %>sent<% else %>received<% end %>">
    <%= sanitize json["body"].gsub(/\R+/, '<br />').gsub(/\t/, '&nbsp;&nbsp;&nbsp;&nbsp;'), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br), attributes: %w(href class) %>
  </div>
<% elsif json && json["msgtype"] == 'm.image' %>
  <header style="color: <%= color %>">
    <p class="<% if post[:content][:sender] == Hindsight::Application.credentials.mxid %>sent<% else %>received<% end %>">
      <small class="sender"><%= post[:content][:sender] %>: </small>
    </p>
  </header>
  <div class="card-body">
    <p class="neutral">
      <a data-fancybox href="<%= Hindsight::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>"><img src="<%= Hindsight::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>" /></a>
      <small><%= json["body"] %></small>
    </p>
  </div>
<% elsif json && json["msgtype"] == 'm.video' %>
  <a data-fancybox href="<%= Hindsight::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>">
    <video controls preload="metadata">
      <source src="<%= Hindsight::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>" />
    </video>
  </a>
  <p style="text-align: center"><em>(<a href="<%= Hindsight::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>"><%= json["body"] %></a>)</em></p>
<% elsif json && json["msgtype"] == 'm.emote' %>
  <header style="color: <%= color %>">
    <p class="<% if post[:content][:sender] == Hindsight::Application.credentials.mxid %>sent<% else %>received<% end %>">
      <small class="sender"><%= post[:content][:sender] %>: </small>
    </p>
  </header>
  <div class="card-body">
    /me <%= json["body"] %>
  </div>
<% elsif json && json["membership"] %>
  <div class="card-body">
    <% if json["membership"] == 'leave' %>
      <p class="neutral">
        <small class="neutral"><%= post[:content][:sender] %> left</small>
      </p>
    <% elsif json["membership"] == 'join' %>
      <p class="neutral">
        <small><%= post[:content][:sender] %> joined</small>
      </p>
  </div>
  <% else %>
    <div class="card-body">
      <small>???</small>
    </div>
  <% end %>
<% else %>
  <div class="card-body">
    <%= post[:content][:event_id] %>
  </div>
<% end %>
