<article class="cf">
  <aside class="left">
    <div class="yesterday">
      <a href="/overview/<%= (@date - 1.year).year %>"><i class="fas fa-angle-up"></i></a>
    </div>
    <header>
      <div>
        <h1><a href="/?start_date=<%= @date %>"><%= @date.strftime("%Y") %></a></h1>
      </div>
    </header>

    <h3>Filter By:</h3>

    <ul class="services">
      <% if (@totals['AdiumMessage'] + @totals['ColloquyMessage'] + @totals['FacebookMessage'] + @totals['EmailMessage'] + @totals['GoogleChatMessage'] + @totals['GoogleTalkMessage'] + @totals['HangoutsEvent'] + @totals['LoungeLog'] + @totals['MircLog'] + @totals['MatrixEvent'] + 
          @totals['PidginMessage'] + @totals['AndroidSms'] + @totals['WindowsPhoneSms'] + @totals['VoipmsSms'] + @totals['XchatLog']) > 0 %>
      <li>
        <strong>Instant Messaging:</strong>
        <ul>
          <% services = {
          'AdiumMessage' => 'Adium', 'ColloquyMessage' => 'Colloquy', 'FacebookMessage' => 'Facebook', 'EmailMessage' => 'Emails', 'GoogleChatMessage' => 'Google Chat Messages', 'GoogleTalkMessage' => 'Google Talk Messages',
          'HangoutsEvent' => 'Hangouts', 'LoungeLog' => 'Lounge / Shout', 'MamircEvent' => 'MamIRC', 'MircLog' => 'mIRC', 'MatrixEvent' => 'Matrix',
          'PidginMessage' => 'Pidgin', 'AndroidSms' => 'SMS (Android)', 'SkypeMessage' => 'Skype', 'WindowsPhoneSms' => 'SMS (Windows Phone)', 'VoipmsSms' => 'SMS (Voip.ms)', 'XchatLog' => 'X-Chat'} %>
          <% services.each do |k, v| %>
            <%= render :partial => 'application/filter' , locals: {key: k, text: v} %>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if (@totals['BikeshareTrip'] + @totals['PrestoTrip']) > 0 %>
      <li>
        <strong>Transportation:</strong>
        <ul>
          <% services = {'BikeshareTrip' => 'Bikeshare Trips', 'PrestoTrip' => 'Presto Trips'} %>
          <% services.each do |k, v| %>
            <%= render :partial => 'application/filter' , locals: {key: k, text: v} %>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if (@totals['FinancialTransaction'] + @totals['FitbitMeasurement'] + @totals['GitHubCommit'] + @totals['Photo'] + @totals['CalendarEvent'] + @totals['CalendarHoliday'] + @totals['PhotoAlbum'] + @totals['N3dsActivityEvent'] + @totals['WiiPlaytime']) > 0 %>
      <li>
        <strong>Other:</strong>
        <ul>
          <% services = {'CalendarEvent' => 'Calendar Events', 'CalendarHoliday' => 'Holidays', 'FinancialTransaction' => 'Financial Transactions', 
          'FitbitMeasurement' => 'Fitbit Measurements', 'ForumPost' => 'Forum Posts', 'GitHubCommit' => 'GitHub Commits', 'Photo' => 'Photos', 'PhotoAlbum' => 'Photo Album Dates', 'N3dsActivityEvent' => 'Nintendo 3DS Events', 'WiiPlaytime' => 'Nintendo Wii Playtime'} %>
          <% services.each do |k, v| %>
            <%= render :partial => 'application/filter' , locals: {key: k, text: v} %>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if (@totals['HindsightFilePSD'] + @totals['HindsightFileDOC'] + @totals['HindsightFileAI']) > 0 %>
      <li>
        <strong>Files:</strong>
        <ul>
          <% services = {'HindsightFilePSD' => 'Photoshop', 'HindsightFileDOC' => 'Documents', 'HindsightFileAI' => 'Illustrator'} %>
          <% services.each do |k, v| %>
            <%= render :partial => 'application/filter' , locals: {key: k, text: v} %>
          <% end %>
        </ul>
      </li>
    <% end %>

  </ul>

    <div class="tomorrow">
      <a href="/overview/<%= (@date + 1.year).year %>"><i class="fas fa-angle-down"></i></a>
    </div>
  </aside>

  <section class="right">
    <% in_one_year = @date + 1.year %>
    <% while @date < in_one_year %>
      <% params[:start_date] = @date %>
      <div class="month">
        <%= month_calendar do |date| %>
          <a data-date="<%= date %>" href="/date/<%= date %>?start_date=<%= date %>"><%= date.day %></a>
        <% end %>
      </div>
      <% @date = @date + 1.month %>
    <% end %>
  </section>

  <script>
    var events = <%= raw(@events.to_json) %>;
    var dates = {};

    function selectFilters() {
      var filters = [];
      document.querySelectorAll('.services input').forEach(input => {
        if (input.checked === true) {
          filters.push(input.id);
        }
      });
      return filters;
    }

    function generateDates(filters) {
      for (const [date, kind] of Object.entries(events)) {
        dates[date] = 0;
        for (const filter of filters) {
          if (events[date][filter]) {
            dates[date] += events[date][filter];
          }
        }
      }
      document.querySelectorAll('.day a').forEach(link => {
        if (dates[link.dataset.date] > 0 && !link.classList.contains('selected-data')) {
          link.classList.add('selected-date');
        } else {
          link.classList.remove('selected-date');
        }
      });
    }

    filters = selectFilters();
    generateDates(filters);

    document.addEventListener("DOMContentLoaded", function(event) {
      document.querySelectorAll('.services input').forEach(link => {
        link.addEventListener("click", (e) => {
          var filters = selectFilters();
          var g = generateDates(filters);
          return false;
        });
      });
    });
  </script>
</article>
