<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800|Quicksand:400,700" rel="stylesheet">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/fontawesome6.1.1.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body id="<%= @pagename %>">
    <%= yield %>
  </body>
</html>
